<div class="row">
  <div class="container">
    <div class="row">
      <div class="offset-2 col-8 offset-2">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h1>{{title}}</h1>
            </div>
            <div class="row" style="height: 15px"></div>
            <div *ngIf="selectedHero != null">
              <md-card>
                <md-card-title>
                  {{selectedHero.name}} details!
                </md-card-title>
                <md-card-content>
                  <div>
                    <md-input-container>
                      <input mdInput [(ngModel)]="selectedHero.id" placeholder="ID">
                    </md-input-container>
                  </div>
                  <div>
                    <md-input-container>
                      <input mdInput [(ngModel)]="selectedHero.name" placeholder="Name">
                    </md-input-container>
                  </div>
                </md-card-content>
              </md-card>
            </div>
          </div>

          <div class="row" style="height: 15px"></div>

          <div class="panel-body">
            <div class="row">
              <h2>My Heroes</h2>
            </div>
            <div class="row">
              <ul class="heroes">
                <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
                  <span class="badge">{{hero.id}}</span> {{hero.name}}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
