<div class="row">
  <div class="container">
    <div class="row">
      <div class="offset-2 col-8 offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div *ngIf="hero != null">
              <md-card>
                <md-card-title>
                  {{hero.name}} details!
                </md-card-title>
                <md-card-content>
                  <md-input-container>
                    <input mdInput [(ngModel)]="hero.id" placeholder="ID">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput [(ngModel)]="hero.name" placeholder="Name">
                  </md-input-container>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
</div>
